<div class="row">
    <div class="col-12 mb-3 mt-3 d-flex justify-content-between">
        <h4 class="title">Administración de Items</h4>
        <button class="btn btn-primary" (click)="collapse = !collapse">
            <fa-icon [icon]="['fas', 'search']"></fa-icon> Búsqueda
        </button>
    </div>

    <div  class="col-12" [ngbCollapse]="collapse">
        <app-item-search [categories]="categories" [classes]="classes" (search)="search($event)"></app-item-search>
    </div>

    <div class="table-responsive col-12">
        <table class="table table-bordered table-hover">
            <thead>
                <th>N°</th>
                <th>Imagen</th>
                <th>Clase</th>
                <th>Categoria</th>
                <th>Nombre</th>
                <th>Nivel</th>
                <th>Descripción</th>
                <th>Creado</th>
                <th>Modificado</th>
                <th>Opciones</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of items; let i = index">
                    <td style="vertical-align: middle;">{{i+1}}</td>
                    <td style="vertical-align: middle;">
                        <div class="d-flex justify-content-center">
                            <img class="img-thumbnail" [src]="getImage(item.id)" onerror="this.src = 'assets/images/items/default.png';" width="100px">
                        </div>
                    </td>
                    <td style="vertical-align: middle;">{{item.category?.class?.name}}</td>
                    <td style="vertical-align: middle;">{{item.category?.name}}</td>
                    <td style="vertical-align: middle;">{{item.name}}</td>
                    <td style="vertical-align: middle;">{{item.level}}</td>
                    <td style="vertical-align: middle;">{{item.description}}</td>
                    <td style="vertical-align: middle;">{{item.created | date:'dd-mm-yyyy HH:mm:ss'}}</td>
                    <td style="vertical-align: middle;">{{item.modified | date:'dd-mm-yyyy HH:mm:ss'}}</td>
                    <td style="vertical-align: middle;">
                        <div class="d-flex justify-content-around">
                            <button class="btn btn-primary btn-sm" (click)="open(itemFormModal, item)">
                                <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                            </button>
                            <button [disabled]="item.recipe===null" class="btn btn-info btn-sm" (click)="open(viewRecipes, item)">
                                <fa-icon [icon]="['fas', 'eye']"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #itemFormModal>
    <app-items-form 
        [itemSelected]="itemSelected" (close)="close()" (sendData)="resolveItem($event)" [classes]="classes" [categories]="categories">
    </app-items-form>
</ng-template>

<ng-template #viewRecipes>
    <app-view-recipes
        [itemSelected]="itemSelected" (close)="close()">
    </app-view-recipes>
</ng-template>