<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close.emit()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form itemForm (ngSubmit)="onSubmit()"> 
        <div class="modal-body">
            <p><small>Campos con <b class="text-danger">*</b> son obligatorios.</small></p>
            <div class="row">
                <div class="form-group col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12" [formGroup]="form">
                    <label for="nameForm">Nombre <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" name="nameForm" id="nameForm" formControlName="name">
                    <p *ngIf="form.controls.name.errors"><small class="text-danger">Nombre debe contener almenos dos letras.</small></p>
                </div>
                <div class="form-group col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12" [formGroup]="form">
                    <label for="nivelForm">Nivel <span class="text-danger">*</span></label>
                    <input class="form-control" type="number" name="nivelForm" id="nivelForm" formControlName="level">
                    <p *ngIf="form.controls.level.errors"><small class="text-danger">Nivel debe estar entre 1 y 200.</small></p>
                </div>
                <div class="form-group col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12">
                    <label for="classForm">Clase <span class="text-danger">*</span></label>>
                    <select class="form-control" name="classForm" id="classForm" [(ngModel)]="clase.id" (ngModelChange)="onSelectClass($event)">
                        <option *ngFor="let class of classes" value={{class.id}}>{{class.name}}</option>
                    </select>
                </div>
                <div class="form-group col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12" [formGroup]="form" *ngIf="flags.classSelected">
                    <label for="categoryForm">Categoría <span class="text-danger">*</span></label>
                    <select class="form-control" name="categoryForm" id="categoryForm" formControlName="cat_id">
                        <option></option>
                        <option *ngFor="let category of categoryList" value={{category.id}}>{{category.name}}</option>
                    </select>
                    <p *ngIf="form.controls.cat_id.errors"><small class="text-danger">Debe asignar una categoría.</small></p>
                </div>
                <div class="form-group col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12" [formGroup]="form">
                    <label for="descripcionForm">Descripción</label>
                    <textarea class="form-control" type="text" rows="5" name="descripcionForm" id="descripcionForm" formControlName="description"></textarea>
                </div>
                <!-- <div class="form-group col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12" [formGroup]="form"> -->
                    <!-- <label for="imageForm">Imagen</label> -->
                    <!-- <input class="form-control-file" type="file" name="imageForm" id="imageForm" formControlName="image"> -->
                    <!-- <input type="file" ng2FileSelect [uploader]="uploader" (change)="onUpload($event)"/> -->
                <!-- </div> -->
                <!-- <div class="form-group col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12"> -->
                    <!-- <img src={{form.controls.image.value}}> -->
                <!-- </div> -->
            </div>
        </div>
        <div class="modal-footer">
            <div class="d-flex justify-content-end">
                <button [disabled]="!form.valid" class="btn btn-primary">guardar</button>
            </div>
        </div>
    </form>
</div>